@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 21, 20;
  --background-rgb: 1, 1, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(var(--background-rgb)); */
}
